/* FIRST CONTENT ROW */
.content-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.content-box-inner {
  margin-top: 1rem;
  padding: 3rem;
  border: 1.5px dotted #f58220;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.content-box-inner:hover {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.content-box-inner > h1 {
  font-weight: 300;
  font-size: 30px;
}
.content-box-inner > p {
  padding-top: 1rem;
  font-size: 12px;
}
/* SECOND CONTENT ROW */
.first-row-image {
  max-height: 100px;
}
.second-row {
  margin-top: 2rem;
}
.second-row-image {
  width: 200px;
  height: 210px;
}
.content-middle {
  padding: 3rem;
}
.content-middle-info-container {
  padding-bottom: 20px;
}
.content-middle-info {
  background-color: black;
  color: white;
  min-height: 400px;
}
.content-middle-info-first:hover {
  box-shadow: 3px 3px #2296dd;
}
.content-middle-info-second:hover {
  box-shadow: 3px 3px #f58220;
}
.content-middle-info-link {
  font-size: 12px;
  color: #f58220;
}
.content-middle-info-link:hover {
  text-decoration: none;
  color: #f58220;
  opacity: 95%;
}
/* LINKS TO DIFFERENT INDUSTRIES */
.content-industry {
  padding: 1.5rem;
}
.content-fa {
  font-size: 1rem;
}
.content-industry-link {
  color: #f58220;
}
.content-industry-link:hover {
  text-decoration: none;
  color: #2296dd;
}
/* QUOTE */
.content-bottom {
  background-image: url("../Images/hospital-background.png");
  padding: 2rem 0;
  background-size: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
blockquote:after {
  color: #ccc;
  content: no-close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
/* To animate image */
.animatedImage {
  animation: levitate 3s;
  animation-iteration-count: infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@keyframes levitate {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}
